<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"><img src="../../assets/Airplane.jpg" width="5%" />    <I><u>  SkyWays</u></I></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="LoggedIn(false)" routerLink="/login">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="LoggedIn(false)" routerLink="/register">register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="LoggedIn(true)" routerLink="/account">account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="LoggedIn(true)" (click)="LogOut()">logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="LoggedIn(true)"routerLink="/dashboard" >dashboard</a>
        </li>
      </ul>
    </div>
  </div>
      <form class="card-body-centre" >
</form>
</nav> -->


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
     
      <img
        src="../assets/bglogo.jpg"
        height="16"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px; width:70px; height:70px ;"
        

       
      />
    </a>
    <h5> Sky Airlines</h5>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="LoggedIn(false)" routerLink="/login">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="LoggedIn(false)" routerLink="/register">register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="LoggedIn(true)" routerLink="/account">account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="LoggedIn(true)" (click)="LogOut()">logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="LoggedIn(true)"routerLink="/dashboard" >dashboard</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        
       
        <a
          class="btn btn-dark px-3"
          href="https://github.com/mdbootstrap/mdb-ui-kit"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>

<br>

<div class="container">
  <router-outlet></router-outlet>
</div>
<br>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>